/* Sidebar */
.sidebar {
    -fx-background-radius: 20px;
    /* Bordo arrotondato */

    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    /* Bordo leggero */
}

.sidebar-content {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-radius: 8px;
    /* Bordo arrotondato */
}

/* Versioni colorate */
.sidebar-red {
    -fx-background-color: rgba(170, 22, 34, 0.342);
    -fx-border-color: rgba(120, 15, 25, 0.5);
    /* Bordo più scuro */
}

.sidebar-green {
    -fx-background-color: rgba(30, 184, 99, 0.342);
    -fx-border-color: rgba(20, 130, 70, 0.5);
}

.sidebar-blue {
    -fx-background-color: rgba(41, 13, 167, 0.342);
    -fx-border-color: rgba(30, 10, 120, 0.5);
}

.content-area {
    -fx-background-color: rgb(0, 0, 0);
}

.tooltip {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-background-color: #333333;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

/* Imposta lo stile di base per il root (GridPane) */
.root {
    -fx-background-color: #f0f0f0;
    background-color: #f0f0f0;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #007ACC;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

.title-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 10px 0 20px 0;
}

.tooltip {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.message-label {
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.error-label {
    -fx-text-fill: rgb(192, 57, 57);
}

.success-label {
    -fx-text-fill: rgb(62, 172, 71);
}